<!-- Alerta de éxito -->
<div *ngIf="response" class="alert" [ngClass]="{'alert-success': response.success, 'alert-danger': !response.success}" role="alert">
    {{ response.message }}
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Registrar Doctor
            </div>
            <div class="card-body">
                <form [formGroup]="formDoctor" (ngSubmit)="onSubmit('DOCTOR')">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input id="name" class="form-control" formControlName="name" placeholder="Ej. Dr. Juan Pérez">
                        <div *ngIf="formDoctor.get('name')?.invalid && formDoctor.get('name')?.touched"
                             class="text-danger">
                            El nombre es obligatorio.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="specialty" class="form-label">Especialidad</label>
                        <input id="specialty" class="form-control" formControlName="specialty"
                               placeholder="Ej. Pediatría">
                        <div *ngIf="formDoctor.get('specialty')?.invalid && formDoctor.get('specialty')?.touched"
                             class="text-danger">
                            La especialidad es obligatoria.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="formDoctor.invalid">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>
